<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6Fy6mu8qv1YGvWTP7IWiTsF8WIHe784U</string>
	<key>GCM_SENDER_ID</key>
	<string>959197077184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.functionWorldApp</string>
	<key>PROJECT_ID</key>
	<string>function-world-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>function-world-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959197077184:ios:4747848ef10ef5bead1725</string>
	<key>DATABASE_URL</key>
	<string>https://function-world-chat-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>